# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: The outcome is any possible result of an experiment. In this case, the outcome is the free-tier customer convert or not in to a paying customer.

#### 2. What are the predictors/covariates?

Answer: Predictors are variables that affect the response of an experiment and can be set or measured by the experimenter. In this case, the predictors are the demographics collected at signup and customer useage data.

#### 3. What timeframe is this data relevent for?

Answer: This data is relevent from Jan to Apr of 2015.

#### 4. What is the hypothesis?

Answer: The hypothesis here is that the demographic data and customer useage data can determine which free-tier customer will convert to a paying customer.

## Let's get started with the ADMISSIONS dataset

#### 1. Create a data dictionary

Answer: 

Variable | Description | Type of Variable
---| ---| ---
Admit    | 0 = not admit 1 = admit           | categorical
GRE      | GRE Score                         | continuous 
GPA      | Grade Point Average               | continuous
Prestige | 1 = highest, 2, 3 and 4 = lowest  | categorical

We would like to explore the association between Admit and GRE, GPA, Prestige.

#### 2. What is the outcome?

Answer: Admit (yes/no)

#### 3. What are the predictors/covariates?

Answer: gre, gpa and prestige

#### 4. What timeframe is this data relevent for?

Answer: Tha data has no timeframe

#### 4. What is the hypothesis?

Answer: The hypothesis is that factors like gre, gpa and prestige influence admission into graduate school.

    Using the above information, write a well-formed problem statement.

## ## UCLA offers graduate degrees in nearly 150 departments, ranging from an extensive selection of business and medical programs to degrees in 40 different languages. On average, the University admits 6,000 graduate students of the 21,300 who apply each year. Aiming to be more efficient through this time-consuming process, the Admissions Department wants to identify the various factors that may influence admission into graduate school. By analysing data from past applicants, the goal is to understand how their GRE score, GPA and Prestige influenced their admission or not into the graduate school.

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: The goal of the exploratory analysis is to understand the main characteristics of a data set.

#### 2a. What are the assumptions of the distribution of data?

Answer: The assumptions are that the data have a normal distribution and that the data from multiple groups have the same variance.

#### 2b. How will you determine the distribution of your data?

Answer: To identify the distribution of my data the first step is to create a histogram of the data. This method allows me to see if the shape of the histogram is similar to a known statistical distribution shape.

#### 3a. How might outliers impact your analysis?

Answer: To deal with outliers is important to first understand them and their occurence in the right context of the analysis. Outliers can be a chance phenomenon or a measurement erro, they can affect analysis like the mean for example.

#### 3b. How will you test for outliers?

Answer: One way to test for outliers is to visualize the data with graphics, this method often detects the outlires.

#### 4a. What is colinearity?

Answer: Is when two or more variables are linearly related to each other. Like: x = Y*2.

#### 4b. How will you test for colinearity?

Answer: By observing a very high correlation between the variables.

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis 1 year from now.

Answer: My exploratory analysis plan start with basic analysis from the data like: mean, median, mode, max, min quartile and interquartile range. After that, I'm going to explere the data variance and standart deviation. Finally, I'm going to analyse the correlation between the variables. All of this using pandas statistics and graphics.

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model

In [25]:
# 1) My analysis method for predicting outcome is using regression analysis like linear regression.

In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("/Users/Gustavodamasco/Desktop/ds-sf-39/GustavoDamasco_GA/project-1/assets/admissions.csv")

In [28]:
df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [29]:
df.tail()

     admit    gre   gpa  prestige
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

In [30]:
admit_average_gre = df[df.admit == 1] ["gre"].mean()
admit_average_gpa = df[df.admit == 1] ["gpa"].mean()
admit_average_prestige = df[df.admit == 1] ["prestige"].mean()

print "Admit Average GRE"
print admit_average_gre
print "Admit Average GPA"
print admit_average_gpa
print "Admit Average Prestige"
print admit_average_prestige

Admit Average GRE
618.897637795
Admit Average GPA
3.48920634921
Admit Average Prestige
2.15079365079

In [31]:
not_admit_average_gre = df[df.admit == 0] ["gre"].mean()
not_admit_average_gpa = df[df.admit == 0] ["gpa"].mean()
not_admit_average_prestige = df[df.admit == 0] ["prestige"].mean()

print "Not Admit Average GRE"
print not_admit_average_gre
print "Not Admit Average GPA"
print not_admit_average_gpa
print "Not Admit Average Prestige"
print not_admit_average_prestige

Not Admit Average GRE
573.579335793
Not Admit Average GPA
3.34540441176
Not Admit Average Prestige
2.64102564103